:root {
    --primary: #48b8d0ff;
    --secondary: #cc0003ff;
    --light: #fbe40eff;
    --dark: #140f2dff;
    --middle: #f58a07ff;
} 

/* default formatting for mobile */

body {
		font-size: 18px;
		background-color: var(--middle);
		color: #fff;
}

header {
    background-color: var(--primary);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 8em;
}

h1 {
    margin: auto;
    color: var(--dark);
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    order: -1;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em;
}

h3 {
    font-size: 1.25em;
    margin: 0.5em;
}

p {
    margin: 1em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    text-align: center;
}

form > label {
    display: block;
}

form > input {
    max-width: 3em;
    height: 2em;
    text-align: center;
    border: 3px solid var(--secondary);
    background: var(--light);
}

form > button {
    font-size: 0.8em;
}

.button {
    background-color: var(--dark);
    text-align: center;
    padding: 0.5em;
    margin: 0.5em auto;
    color: var(--light);
    text-decoration: none;
	border: 3px solid var(--secondary);
    border-radius: 0.25em;
    cursor: pointer;
}

header > .button {
    margin: 1em;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
    height: 3em;
    font-size: 1.25em;
    font-weight: 600;
}

#timer {
    text-align: center;
    min-width: 4rem;
    line-height: 2rem;
}

main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* hide element */
.hide {
    display: none;
}

/* flash green text on screen when answer is correct */

.correct {
    color: green;
}

/* flash red text when answer is wrong or when timer is low */
.wrong, .low {
    color: red;
}

/* Pulse and fade text for correct, wrong, and low timer */
.correct, .wrong {
    font-weight: 800;
    animation-name: pulseFade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.low {
    font-weight: 700;
    animation-name: pulseFade;
    animation-duration: 1s;
}

@keyframes pulseFade {
    0% {font-size: 0.5em; opacity: 1;}
    25% {font-size: 1.5em;opacity: 1;}
    100% {font-size: 1.5em; opacity: 0;}
}

/* pulse animation for end screen while adding timer to score */
.pulse {
    font-weight: 800;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: 3;
}

@keyframes pulse {
    0% {font-size: 1em;}
    50% {font-size: 1.5em;}
    100% {font-size: 1em;}
}

/* flash red "-5" when answer is wrong */
.subtract {
    position: relative;
}

.subtract::before {
    content: "-5 ";
    position: absolute;
    left: -1.25em;
    color: red;;
    animation-name: redFlash;
    animation-fill-mode: forwards;
    animation-duration: 0.75s;
}

@keyframes redFlash {
    0% {font-size: 1em;}
    50% {font-size: 1.25em; opacity: 1;}
    100% {font-size: 1em; opacity: 0;}
}

.answer {
    width: 80vw;
}

#response-box {
    height: 4rem;
    line-height: 4rem;
}

#score-box {
    font-size: 1.5em;
    font-weight: 700;
    height: 4rem;
    flex-wrap: nowrap;
}

/* very small screens */

@media screen and (max-width: 310px) {
    
    header {
        flex-direction: column;
    }

    h1 {
        margin: 0;
        font-size: 1.5em;
    }

    .answer {
        min-width: 200px;
    }
}

/* small screens and laptops */

@media screen and (min-width: 480px) {

    .timer-container {
        flex-direction: row;
        font-size: 1.5em;
        margin: 1em;
    }

    .subtract::before {
        left: 0;
        right: -2.5em;
    }

    header {
        flex-wrap: nowrap;
    }

    header > .button {
        margin: 1em;
    }

    h1 {
        order: 0;
        margin: auto;
    }

    .answer {
        width: 60vw;
    }
}

/* large screens */
@media screen and (min-width: 769px) {

    body {
        font-size: 1.5rem;
    }

    .answer {
        width: 40vw;
    }
}