:root {
    --primary: #48b8d0ff;
    --secondary: #cc0003ff;
    --light: #fbe40eff;
    --dark: #140f2dff;
    --middle: #f58a07ff;
} 

body {
		font-size: 20px;
}

header {
    background-color: var(--primary);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8em;
}

h1 {
    margin: auto 0.5em;
    color: var(--dark);
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    padding: 0.5em;
}

p {
    margin: 1em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: var(--dark);
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
    color: var(--light);
    text-decoration: none;
    border-radius: 0.25em;
    cursor: pointer;
}

header > .button {
    margin-right: auto;
}

.spacer {
    width: 1em;
    height: 1em;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    height: 3em;
    font-size: 1.25em;
    font-weight: 600;
}

#timer {
    text-align: center;
    min-width: 4rem;
    line-height: 2rem;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* flash green text on screen when answer is correct */

.correct {
    color: green;
}

/* flash red text when answer is wrong or when timer is low */
.wrong, .low {
    color: red;
}

/* Pulse and fade text for correct, wrong, and low timer */
.correct, .wrong, .low {
    font-weight: 800;
    animation-name: pulseFade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes pulseFade {
    0% {font-size: 0; opacity: 1;}
    25% {font-size: 1.5em;opacity: 1;}
    100% {font-size: 1.5em; opacity: 0;}
}

/* pulse animation for end screen while adding timer to score */
.pulse {
    font-weight: 800;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: 3;
}

@keyframes pulse {
    0% {font-size: 1em;}
    50% {font-size: 1.5em;}
    100% {font-size: 1em;}
}

/* flash red "-5" when answer is wrong */
.subtract {
    position: relative;
}

.subtract::before {
    content: "-5 ";
    position: absolute;
    left: -1.5em;
    animation-name: redFlash;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes redFlash {
    0% {color: #000; font-size: 1em;}
    50% {color: red; font-size: 1.25em; opacity: 1;}
    100% {color:#000; font-size: 1em; opacity: 0;}
}



#question-box {
    display: flex;
    flex-direction: column;
}

#response-box {
    height: 4rem;
    line-height: 4rem;
}

#score-box {
    font-size: 1.5em;
    font-weight: 700;
}

/* small screens */

@media screen and (min-width: 480px) {

    .timer-container {
        flex-direction: row;
        font-size: 1.5em;
    }

    header {
        justify-content: space-between;
    }

    header > .button {
        margin: 0;
    }

    .timer-container {
        margin: 0;
    }
}

/* large screens */
@media screen and (min-width: 769px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .answer-button {
        min-width: 300px;
    }

}